body {
	/* 	background-color: #158500; */
	background: linear-gradient(90deg, rgba(188, 255, 60, 1) 0%,
		rgba(109, 170, 28, 1) 35%, rgba(167, 176, 10, 1) 73%,
		rgba(109, 170, 28, 1) 100%);
	color: #094a1a;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
}

.titles {
	font-family: 'Bangers', cursive;
}

.navBarColor {
	background-color: #ffdd00;
}

.dataTableStyle {
	align-self: center;
	background-color: #6daa1c;
	width: 90%;
	height: 80%;
	overflow-x: auto;
	overflow-y: auto;
}

.topBottomStyle {
	padding: 25px;
	background-color: #ffdd00;
	align-content: center;
	text-align: center;
}

.box {
	align-content: center;
	margin-bottom: 1%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
}

.emphasizePositive {
	font-weight: bold;
	color: #5cc42f;
}

.emphasizeNegative {
	font-weight: bold;
	color: #c70808;
}